mat-toolbar{
    width: 100%;

    ul{
        width: 400px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        list-style: none;

        li > a{
            color: rgb(203, 200, 245);
            text-decoration: none;
            transition: all .4s ease;

            &:hover{
                color: rgb(136, 127, 249);
            }
        }
    }
}