.list-container {
    margin-top: 20px;

    .button {
        display: flex;
        justify-content: end;
        margin-bottom: 20px;
    }

    .card-container {
        width: 780px;

        display: flex;
        flex-wrap: wrap;
    }
}